* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

#cards {
  width: 400px;
  margin: 20px;
  background-color: lightgreen;
  border-radius: 5px;
  padding: 10px;
  height: 400px;
  overflow-y:auto;
}

button {
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid green;
  font-size: 16px;
  margin: 20px;
}

.modal{
    display: none;
    position: fixed;
}

.modal {
  width: 500px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 40%;
  background-color: "blue";
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}